body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  h2{
    transform: translate(400px);
   font-family: Georgia, 'Times New Roman', Times, serif;
  }
  p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
  }
  .topnav {
    overflow: hidden;
    background-color: black;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgba(255, 115, 0, 0.973);
    color: black;
  }
  .logo{
    padding: 14px;
    height: 10px;
    float: right;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: rgba(255, 115, 0, 0.973);

  }
  
.heading{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}
.container{
  width: 90;
  margin: 0 auto;
  padding: 10px 20px;
}
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;
}
.about-image{
  flex: 1;
  height: auto;
  display: block;
transform: translateX(400px);

}
.about-image img{
  max-width: 100%;
  height: auto;
  display: block;
  transition: 10 ease;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.footer-container{
background-color: black;
padding-bottom: 4rem;
}
.footer{
  width: 80%;
  height: 40vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer-heading{
text-align: center;
font-size: x-large;
font-family: Georgia, 'Times New Roman', Times, serif;
} 
.footer-container{
  overflow: hidden;
  background-color: black;
}

.footer-container a {
  text-align: center;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.footer-container a:hover {
  background-color: #ddd;
  color: black;
}

.footer-container a.active {
  background-color:  rgba(255, 115, 0, 0.973);
  color: black;
}
#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: rgba(255, 115, 0, 0.973);
}

#countdown div {
  margin: 0 10px;
}

#countdown span {
  margin: 0 5px;
}